<footer>
    <div class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <h2><span>Neocol</span></h2>
                            </div>
                            <p>Neocol is the one of the passionate  coating service provider in Hosur industrial area .The neocol is designed in the way of delivering vibrant shade and desired finishes as same as customer desires with the combination of multimetal surface treatment solution. On other hands neocol provides its own design and manufacturing of powder coating plant and paint shop with a complete package as a own brand turnkey solution provider.</p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4 style="font-weight:bold">Contact</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                            <div class="footer-contacts">
                                <p><span>Phone:</span> (+91) 9894435327</p>
                                <p><span>Email:</span> aswinrajan6@gamil.com</p>
                                <p><span>Working Hours:</span> 9am-5pm</p>
                                <p><span>ISO 9001:2008</span> Certified Company</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4 style="font-weight:bold">Location</h4>
                            @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 250px;" allowfullscreen></iframe>*@
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60046515.93079368!2d-42.588127262795226!3d23.281321580653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae71735fe7986d%3A0x2435a26362c6d77f!2sNeocol%20Powder%20Coating!5e0!3m2!1sen!2sin!4v1630933888204!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 250px;" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>Neocol</strong>. All Rights Reserved
                        </p>
                    </div>
                    <div class="credits">
                        Designed by <a href="https://AlpinCloud.com/">Alpin Cloud IT Solutions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>