<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Neocol - Powder Coating and Painting Industries</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- slick Carousel -->
    <link href="~/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet" />
    <!-- Libraries CSS Files -->
    <link href="~/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="~/lib/alertifyjs/alertify.css">

    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Responsive Stylesheet File -->
    <link href="~/css/responsive.css" rel="stylesheet">

    <!-- Modernizer Script for old Browsers -->
    <script src="~/lib/Modernizer/modernizr-2.6.2.min.js"></script>



</head>

<body id="body" data-spy="scroll" data-target="#navbar-example">


    @RenderBody()


    <a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>


    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/singlepagenav/jquery.singlePageNav.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/lib/mixitup/jquery.mixitup.min.js"></script>
    <script src="~/lib/easing/jquery.easing.min.js"></script>
    <script src="~/lib/alertifyjs/alertify.js"></script>

    <script src="~/js/main.js"></script>

    @RenderSection("Script", false)

</body>
</html>

